 {% extends 'base.html' %}
 {% block title %}Dashboard{% endblock %}
 {% block content %}
 {{ block.super }}
 <div class="container-fluid">
     <div class="row">
         <div class="col-12">
         <h3 class="mt-3">Dashboard<h3>
         <hr>
             <h6>Version: 1.00 27.11. 21:43 (Current on Termux) </h6>
             <p>Push the changes on  repository after work needed! </p>
         <ul>
                  <li>add fce delete_food() </li>
                  <li>add model Outcome </li>
                  <li>add Payment Method </li>
                  <li>add Note repair text area </li>
                  <li>quantity change Float to DecimalFloat </li>





         </ul>

         </div>
     </div>
 </div>
 {% endblock %}


