{% extends 'base.html' %}
{% block title %}Food List{% endblock %}
{% block content %}
{{ block.super }}
<div class="container-fluid full-height d-flex flex-column">
    <div class="row flex-grow-1">
        <div class="col-12 full-height">
            <h5 class="mt-3">Seznam potravin</h5>
            <hr>
            {% if foods %}
            {% include 'food_table.html' %}
            {% else  %}
            <h4>Žádná potravina nebyla nalezena</h4>
<a class="mt-2 btn btn-custom" href="{% url 'add_food' %}">Přidat potravinu</a>
            {% endif  %}

        </div>
    </div>
</div>
{% endblock %}
