<div class="table-responsive">
    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Akce</th>
                <th scope="col">Cena</th>
                <th scope="col">Datum</th>
                <th scope="col">Množství</th>

                <th scope="col">Obchod</th>
                <th scope="col">Poznámka</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{% if food.food_type.name != "------------" %}<a href="{% url 'filter_by_category' food.food_type.id  %}">{{ food.food_type.name }}</a></td>
                 {% else %}
                    Nepřiřazeno
                    {% endif %}
              <td>
    <div style="display: flex; gap: 10px; align-items: center; justify-content: center;">
        <a style="width: 40px; margin: 0;" href="{% url 'edit_food' food.id %}" class="btn btn-custom">
            <i class="bi bi-pen-fill"></i>
        </a>
        <a style="width: 40px; margin: 0;" href="{% url 'delete_food' food.id %}" class="btn btn-custom">
            <i class="bi bi-trash3-fill"></i>
        </a>
    </div>
</td>



                <td>{{ food.price|floatformat:2 }} Kč</td>
                <td>{{ food.date_added|date:"d.m.Y" }}</td>
                <td>{{ food.quantity|floatformat:0 }}
                    {% if food.unit == "grams" %} g
                    {% elif food.unit == "mililiters" %} ml
                    {% elif food.unit == "liters" %} l
                    {% elif food.unit == "pieces" %} ks
                    {% else %} {{ food.unit }}</td>
                    {% endif %}
                <td><a href="{% url 'filter_by_store' food.store.id  %}">{{ food.store.name }}</a></td>
                <td>{{ food.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
