<div class="table-responsive">
    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Typ</th>
                <th scope="col">Akce</th>
                <th scope="col">Cena</th>
                <th scope="col">Datum</th>
                <th scope="col">Množství</th>
                <th scope="col">Jednotka</th>
                <th scope="col">Obchod</th>
                <th scope="col">Poznámka</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{% if food.food_type.name != "Undefined" %}<a href="{% url 'filter_by_category' food.food_type.id  %}">
                {{ food.food_type.name }}
      </a>{% endif %}</td>
                <td>
                    <form action="{% url 'edit_food' food.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary"> <i class="bi bi-pen-fill"></i>  </button>
                    </form>
                </td>
                <td>{{ food.price|floatformat:2 }} Kč</td>
                <td>{{ food.date_added }}</td>
                <td>{{ food.quantity }}</td>
                <td>{{ food.unit }}</td>
                <td>{{ food.store.name }}</td>
                <td>{{ food.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
