   <h5>Seznam potravin</h5>
        <hr>
        {% if foods %}
        <table class="table custom-table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Cena</th>

                    <th>Obchod</th>
                    <th>Datum</th>

                </tr>
            </thead>
            <tbody>
                {% for food in foods %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.price|floatformat:2 }} Kč</td>

                    <td>{{ food.store.name }}</td>
                    <td>{{ food.date_added|date:"d.m.Y" }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
