{% if stores %}
{% include 'add_store.html' %}
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Název obchodu</th>
      <th scope="col">Akce</th>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
    <tr>
      <th scope="row">{{ store.id }}</th>
      <td>{{ store.name }}</td>
      <td>
        {% if store.name == "Undefined" %}
         - - -
        {% else %}
          <form class="d-inline" action="{% url 'delete_store' store.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
          </form>
          <form class="d-inline" action="{% url 'edit_store' store.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-warning"><i class="bi bi-pencil"></i></button>
          </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
